html
    head
        title Person
    style
        include index.css
    body
    h1.text-center Database Search
    form(action = "/find", method = "POST")
        .form-group
            label Search Keyword:
            input.form-control(type='text', name='search')
        .text-center
        button(type = "submit") Query
        h3 Output
        id: #{details}


